{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }} ! {% endblock %}

{% block body %}
<div class="homepage--main row">
    <header class="homepage--left col-12  col-xl-6">
        <h1>MEET'O'CLOCK</h1>
        <span>Le réseau social des full-remote pro</span>
        <div class="d-none d-xl-block"><img src="{{ asset('img/paris.svg.png') }}" alt="ligne de métro de paris"></div>
        <div class="homepage--buttons">
            <button class="homepage--button btn btn-light">S'inscrire</button>
            <button class="homepage--button btn btn-light">Se connecter</button>
        </div>
    </header> 
    <div class="homepage--right col-12 col-xl-6">
        <h2 class="homepage--title"> Rejoignez la communauté Meet'O'Clock</h2>
        <div class="form-group"> 
            {{ form_start(form)}} 
            <div class="form-group"> {{ form_row(form.firstname) }}</div>
            <div class="form-group"> {{ form_row(form.lastname) }}</div>
            <div class="form-group"> {{ form_row(form.email) }}</div>
            <div class="form-group"> {{ form_row(form.username) }}</div>
            <div class="form-group"> {{ form_row(form.password) }}</div>
            <button class="btn btn-dark homepage--button" type="submit">Envoyer</button>
            {{ form_end(form)}}   
        </div>
    </div>
</div>
{% endblock %}
